.parent {
  margin-top: $navbar-height;
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 4fr 2.5fr 0.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .control-panel { 
      grid-area: 1 / 1 / 3 / 2;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 90%;
      padding: 10px;
      position: relative;
  
      label{
        margin-bottom: 4px;
      }
      @include select-style;
  }
  .map { grid-area: 1 / 2 / 2 / 3; }
  .data { grid-area: 2 / 2 / 3 / 3;
    background-color: $map-5-hex;
    padding: 20px;
    line-height: 1.5em;
  }
  
  .footer { grid-area: 3 / 1 ; }

