// vendor imports
@import './vendor/reset';

// module imports
@import './modules/responsiveness';
@import './modules/variables';
@import './modules/select';

// component imports
@import './components/nav';
@import './components/layouts';
@import './components/map';
@import './components/footer';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: $font-size;
}